@media (min-width: 480px) {
  .img-slider {
    width: 440px;
    height: 500px;
  }
  .card {
    width: 200px;
    &__title {
      font-size: 18px;
      line-height: 25px;
      max-width: 190px;
    }
  }
  .certificate {
    &__title {
      font-size: 21px;
      line-height: 25px;
    }
    &__text {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .question {
    &__question {
      font-size: 16px;
      line-height: 20px;
    }
    &__item-img {
      width: 40px;
      height: 30px;
      right: 0;
    }
    &__answer {
      line-height: 18px;
      padding-top: 20px;
    }
  }
}
